In [2]:
import wandb
import pandas as pd

In [ ]:
run = wandb.init(name='load_tweet_dataset_1',
                 project='epfl_ml_project2', 
                 tags=['load_dataset'],
                 job_type='for_testing')
# load the dataset from wandb
# I will provide other dataset e.g. hsunyu/epfl_ml_project2/twitter_dataset_2:v0, hsunyu/epfl_ml_project2/twitter_dataset_3:v0
artifact = run.use_artifact('hsunyu/epfl_ml_project2/twitter_dataset_1:v0')
artifact_dir = artifact.download()

wandb: Using wandb-core as the SDK backend.  Please refer to https://wandb.me/wandb-core for more information.
wandb: Currently logged in as: hsunyu. Use `wandb login --relogin` to force relogin

wandb:   3 of 3 files downloaded.

In [ ]:
# load it into a pandas dataframe
train_df = pd.read_json(artifact_dir + '/train.json', lines=True)
val_df = pd.read_json(artifact_dir + '/val.json', lines=True)
test_df = pd.read_json(artifact_dir + '/test.json', lines=True)

In [6]:
train_df

                                                sentence1  label      id
0       <user> good , im glad to hear your cheering up...      1       0
1       i think a game of apples to apples with me <us...      1       1
2       <user> lmbo yeah your tweets be on point , thanks      1       2
3       guys someone called <user> is cryberbullying m...     -1       3
4       perv lol rt <user> jus got done watchin <user>...      1       4
...                                                   ...    ...     ...
119995  <user> yeah i meant what were the pb's hun str...      1  119995
119996  sylvester stallone selling la quinta manse for...     -1  119996
119997  <user> morning too eto may event kmi .. launch...      1  119997
119998  rt <user> beautiful is about how you can say t...      1  119998
119999  <user> hope the single is a hit with the uk , ...      1  119999

[120000 rows x 3 columns]

In [7]:
val_df

                                               sentence1  label     id
0      <user> okay i hope you will not fool me , as d...      1      0
1      assassin's creed limited edition ( video game ...     -1      1
2      just got contacted to be in the fashion show f...      1      2
3      the rules : a guide for people owned by cats (...     -1      3
4      <user> ano ba , don't say sorry ! i'm like que...      1      4
...                                                  ...    ...    ...
39995  kids back to school , have to get up at 7 all ...     -1  39995
39996  <user> .. i know ... but ... i'm not with pati...     -1  39996
39997  me & mine - no excuses-e-pdf ( me & mine - no ...     -1  39997
39998       a handfull of my followers something n i c e      1  39998
39999  <user> no problem , you have the strength to d...      1  39999

[40000 rows x 3 columns]

In [8]:
test_df

                                               sentence1  label     id
0      yea youtube decided to screw it up i fixed it ...     -1      0
1                    my kik is being a vajayjay > <user>     -1      1
2      #ripmelissagalka your communications were exce...     -1      2
3      child of compromise ( the mckenna family chron...     -1      3
4      #pune supporters r unhappy especially on nehra...      1      4
...                                                  ...    ...    ...
39995  <user> awesome ! ! good luck ! hope it turns o...      1  39995
39996  i neevver used ths ! haha my first tweet .. so...      1  39996
39997  <user> i see all the retweets you give , and w...     -1  39997
39998                             follback please <user>      1  39998
39999  everyone has so many gig memories & i'm sittin...     -1  39999

[40000 rows x 3 columns]